body {
    background: #D5E1EF ;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    border-radius: 8px;
    height: 196px;
    width: 196px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #ffffff;
    border-radius: 12px;
    width: 196px;
}

.text-container {
    padding: 16px 0;
    font-family: sans-serif;
    text-align: center;
}

.text-header {
    font-size: 0.9rem;
    font-weight: bold;
}

.text-content {
    padding-top: 16px;
    color: #828284;
    font-size: 0.7rem;
}